/*no css existem alvos especificos (class = .) e 
alvos nao tao especificos (tags = p)*/

p {
    font-family: roboto;
  }

  .video-title {
    font-weight: bold;
    font-size: 17px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .videos-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
  }

  .video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
  }

  .video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .aplle-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    
  }
  .shop-link:hover{
    text-decoration: underline;
    cursor: pointer;
  }